@model _3F.Web.Models.Administration.CategoryEdit

@{
    Layout = "~/Views/Shared/_FullPageLayout.cshtml";
}

<h3>Opravdu chcete smazat kategorii "@Model.Name"?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <br />
        <input type="submit" value="Smazat" class="btn btn-danger" style="margin-left:10px; margin-right:10px;" />
        <a href='@Url.Action("Kategorie", "Administrace")' class="btn btn-primary">
            Zpět na seznam kategoríí
        </a>
    }
</div>

@Html.FormSubmitWaitDialog()
