@model _3F.BusinessEntities.EventCategory

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel">Smazání kategorie</h4>
</div>
<div class="box-content">
    <div class="box-content box-statistic">
        <h3>Opravdu chcete smazat kategorii "@Model.Name"?</h3>
        <div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <br />
                <input type="submit" value="Smazat" class="btn btn-danger" style="margin-left:10px; margin-right:10px;" />
                <button class="btn btn-success" data-dismiss="modal"  style="margin-left: 10px; margin-right: 10px;">Zpět</button>
            }
        </div>
    </div>
</div>

@Html.FormSubmitWaitDialog()