@model IEnumerable<_3F.Web.Models.Administration.RoleWithUsers>

@{
    ViewBag.Title = "Přehled rolí";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-nomargin">
            <div class="box-header dark-background">
                <i class="icon-cogs"> </i>Přehled rolí
            </div>
            <div class="box-content" style="background-color:#f4f4f4;">
                @foreach (var role in Model)
                {
                    <div class="box-content box-statistic">
                        <h3>@role.Name (@role.Users.Count())</h3>
                        @Html.Partial("~/Views/Shared/_Users.cshtml", role.Users)
                    </div>
                }
            </div>
        </div>
    </div>
</div>
