<div class="footer-wrapper">
    <div class="row">
        <div class="col-sm-12 text">
            &copy; 2013 - @DateTime.Now.Year - Tento web je provozován zapsaným spolkem <a href="@Url.Content("~/Sdruzeni/Spolecne-aktivity-zs")">Společné aktivity z.s.</a>
        </div>
    </div>
</div>