@model _3F.Web.Models.EmptyBaseViewModel
@{
    Layout = "~/Views/Shared/_FullPageLayout.cshtml";
}

<div class="box-content box-statistic">
    <h3>
        <a class="text-contrast" style="font-family: Helvetica,Arial" href="@Url.Content("~/Akce/Vytvorit/1")">
            Běžná akce
        </a>
    </h3>
    <ul>
        <li>Jedná se o obyčejnou akci.</li>
        <li>Akce je zdarma nebo je placená na místě</li>
    </ul>
</div>
<div class="box-content box-statistic">
    <h3>
        <a class="text-contrast" style="font-family: Helvetica,Arial" href="@Url.Content("~/Akce/Vytvorit/2")">
            Oficiální předplacená akce
        </a>
    </h3>
    <ul>
        <li>Jedná se o akci garantovanou občanským sdružením Společné aktivity o.s.</li>
        <li>Akci je nutno zaplatit předem.</li>
    </ul>
</div>
<div class="box-content box-statistic">
    <h3>
        <a class="text-contrast" style="font-family: Helvetica,Arial" href="@Url.Content("~/Akce/Vytvorit/3")">
            Oficiální neplacená akce
        </a>
    </h3>
    <ul>
        <li>Jedná se o akci garantovanou občanským sdružením Společné aktivity o.s.</li>
        <li>Akci se platí na místě nebo je zdarma.</li>
    </ul>
</div>
<div class="box-content box-statistic">
    <h3>
        <a class="text-contrast" style="font-family: Helvetica,Arial" href="@Url.Content("~/Akce/Vytvorit/4")">
            Soukromá akce
        </a>
    </h3>
    <ul>
        <li>Jedná se o soukromou akci, na kterou můžete pozvat své známé.</li>
        <li>Akce není veřejně viditelná a vidí ji jen pozvaní účastníci.</li>
        <li>Akci se platí na místě nebo je zdarma.</li>
    </ul>
</div>

