
@{
    ViewBag.Title = "Vytvoření nové akce ";
}
<br />
<div class="alert alert-danger alert-dismissable">
    <h4>
        <i class="icon-info-sign"></i>
        Nedostatečná práva
    </h4>
    <p>Bohužel nemáte v současné době práva na vytvoření tohoto typu akce.</p>
</div>