@{
    Layout = "~/Views/Shared/_FullPageLayout.cshtml";
}

<br />
<div class="alert alert-danger alert-dismissable">
    <h4>
        <i class="icon-info-sign"></i>
        Nedostatečná práva
    </h4>
    <p>Bohužel nemáte v současné době práva na zobrazení požadovaného obsahu.</p>
</div>