@{
    Layout = "~/Views/Shared/_FullPageLayout.cshtml";
}

<div>
    <p>
        Na vaši emailovou adresu byl odeslán email s odkazem, pomocí kterého si můžete nastavit nové heslo. <br />
        Pokud email <b>neodrazí do pěti minut</b> zkontrolujte si prosím Vaši <b>spamovou složku</b>.
    </p>
</div>

