@{
    ViewBag.Title = "Heslo bylo úspěšně nastaveno";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Vaše heslo bylo úspěšně nastaveno. Prosím @Html.ActionLink("klikněte zde a přihlašte se", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
