@model _3F.Web.Models.Collector.OwnerItems

<link rel="stylesheet" href="~/Content/Plugins/datatables/jquery.dataTables.min.css" />

@{
    Layout = "~/Views/Shared/_FullPageLayout.cshtml";
}

<table id="example" class="display" cellspacing="0"></table>

@section Scripts {
    @Scripts.Render("~/bundles/datatables")

    <script type="text/javascript">
        $(document).ready(function () {
            var oTable = $('#example').dataTable({
                "iDisplayLength": 25,
                "columns": [
                    { "title": "Číslo", "data":"ItemNumber" },
                    { "title": "Název", "data":"Name" },
                    { "title": "Status", "data":"Status" },
                ],
                "columnDefs": [
                    {
                        "render": function ( data, type, row ) {
                            return '<a href="@Url.Content(Model.BaseUrl + "/Detail/")' + row.ItemNumber + '">'+ data +'</a>';
                        },
                        "targets": 1
                    },
                ],
                "language": {
                    "sEmptyTable":     "Tabulka neobsahuje žádná data",
                    "sInfo":           "Zobrazuji _START_ až _END_ z celkem _TOTAL_ záznamů",
                    "sInfoEmpty":      "Zobrazuji 0 až 0 z 0 záznamů",
                    "sInfoFiltered":   "(filtrováno z celkem _MAX_ záznamů)",
                    "sInfoPostFix":    "",
                    "sInfoThousands":  " ",
                    "sLengthMenu":     "Zobraz záznamů _MENU_",
                    "sLoadingRecords": "Načítám...",
                    "sProcessing":     "Provádím...",
                    "sSearch":         "Hledat:",
                    "sZeroRecords":    "Žádné záznamy nebyly nalezeny",
                    "oPaginate": {
                        "sFirst":    "První",
                        "sLast":     "Poslední",
                        "sNext":     "Další",
                        "sPrevious": "Předchozí"
                    },
                    "oAria": {
                        "sSortAscending":  ": aktivujte pro řazení sloupce vzestupně",
                        "sSortDescending": ": aktivujte pro řazení sloupce sestupně"
                    }
                },
                "data" : @Html.Raw(Json.Encode(Model.Entities)),
            });
    });
    </script>
}