<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="fileInfo" xsi:type="File" encoding="utf-8"
        layout="${longdate};${level};${message}"
        fileName="${basedir}/Logs/${shortdate}.log" />
    <target name="fileAll" xsi:type="File" encoding="utf-8"
        layout="${longdate};${level};${message}"
        fileName="${basedir}/Logs/${shortdate}.logAll" />
    <target name="fileError" xsi:type="File" encoding="utf-8"
        layout="${longdate};${level};${message}"
        fileName="${basedir}/Logs/${shortdate}.logError" />
    <target name="fileFatal" xsi:type="File" encoding="utf-8"
        layout="${longdate};${level};${message}"
        fileName="${basedir}/Logs/${shortdate}.logFatal" />
  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="fileInfo" />
    <logger name="*" level="Error" writeTo="fileFatal" />
    <logger name="*" writeTo="fileAll" />
  </rules>
</nlog>